EXPO_PUBLIC_PARA_API_KEY=your_api_key_here
EXPO_PUBLIC_ALCHEMY_API_KEY=your_alchemy_api_key_here
EXPO_PUBLIC_ALCHEMY_GAS_POLICY_ID=your_gas_policy_id_here
EXPO_PUBLIC_PINATA_JWT=your_pinata_jwt_here
EXPO_PUBLIC_BENDYSTRAW_TESTNET_URL=your_bendystraw_testnet_url_here
EXPO_PUBLIC_BENDYSTRAW_URL=your_bendystraw_url_here
EXPO_PUBLIC_GOOGLE_PLACES_API_KEY=your_google_places_api_key_here
